@media only screen and (max-width: 1199px) {
    h1, .h1, .h1 {
        font-size: 48px;
    }
}
li{
    list-style: none;
}
.align-items-center {
    align-items: center !important;
}
img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}